@model TabloidMVC.Models.ViewModels.PostDetailsSuscribe

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                @if (Model.Post.isOwner)
                {
                    <a asp-action="ManageTags" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Manage Tags">
                        <i class="fas fa-tag"></i>
                    </a>
                }

                <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                @* word before controller. *@
                <a asp-controller="Comments" asp-action="Index" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Comments">
                    Comments
                </a>
                @if (Model.IsSubscribed)
                {
                    <a asp-controller="Subscription" asp-action="Delete" asp-route-id="@Model.Post.UserProfileId" class="btn btn-outline-primary mx-2" title="Subscribe">
                        Unsubscribe
                    </a>
                }
                else
                {
                    <a asp-controller="Subscription" asp-action="Create" asp-route-id="@Model.Post.UserProfileId" class="btn btn-outline-primary mx-2" title="Subscribe">
                        Subscribe
                    </a>
                }
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>

    </div>
</div>