@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Details";
}



<div class="container pt-5">
    <h1>Details</h1>
    <hr />
    <div class="row justify-content-between">
        <h1 class="text-black-50">@Model.FullName</h1>
    </div>
    @if (String.IsNullOrEmpty(Model.ImageLocation))
    {
        <img src="https://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg"
             class="rounded mx-auto d-block"
             alt="Person" />
    }
    else
    {
        
        <img  src="@Url.Content(@Model.ImageLocation)" class="rounded userimg"  alt="Person" />
      
    }
    <a asp-controller="Imagecontroler" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary mx-1" title="Upload Photo">
        Upload Photo
    </a>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageLocation)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserType.Name)
        </dd>


    </dl>
        <a asp-action="Index">Back to List</a>
</div>
