@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Details";
}



<div class="container pt-5">
    <h1>Details</h1>
    <hr />
        <div class="row justify-content-between">
            <h1 class="text-black-50">@Model.FullName</h1>
        </div>
        @if (String.IsNullOrEmpty(Model.ImageLocation))
        {
            <img src="https://images.all-free-download.com/images/graphiclarge/man_silhouette_clip_art_9510.jpg"
                 class="rounded mx-auto d-block"
                 alt="Person" />
        }
        else
        {
            <img src="@Model.ImageLocation" class="rounded mx-auto d-block" alt="Person" />
        }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserType.Name)
        </dd>
        
            <a asp-action="Index">Back to List</a>
        
    </dl>
</div>
