@model IEnumerable<TabloidMVC.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">
    <h1>User Profiles</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageLocation)
                    </th>*@
                <th>
                    User Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageLocation)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("UserType", "UserType", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @if (item.IsDeleted == false)
                        {
                            @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Reactivate", "Reactivate", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>